.page {
  flex: 1;
  flex-direction: row;
  display: flex;
  /* min-width: 1800px; */
}
.pageMobile {
  flex: 1;
  flex-direction: column;
  display: flex;
  /* min-width: 1800px; */
}
.titleHolder {
  margin-left: 72px;
  margin-top: 100px;
  flex-direction: row;
  width: fit-content;
}
.titleHolderMobile {
  /* margin-left: 72px; */
  margin-top: 20px;
  /* flex-direction: column; */
  align-self: center;
  /* width: fit-content; */
  /* align-content: center; */
  justify-content: center;
}
.maintext {
  font-size: 80pt;
  font-weight: bold;
}
.maintextMobile {
  font-size: 20pt;
  font-weight: bold;
  align-self: center;
}
.emphasis {
  font-size: 80pt;
  font-weight: bold;

  color: #e2a747;
}
.emphasisMobile {
  font-size: 20pt;
  font-weight: bold;

  color: #e2a747;
}
.linkHolder {
  width: 30vw;
  flex-direction: row;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50px;
  justify-content: space-between;
}
.link {
  cursor: pointer;
  color: gray;
}
.linkHolderMobile {
  width: 90%;
  flex-direction: row;
  display: flex;
  position: absolute;
  bottom: 10px;
  /* left: 50px; */
  justify-content: space-between;
}
.linkMobile {
  cursor: pointer;
  color: gray;
}
.screenshotArea {
  flex: 1;
  justify-content: flex-end;
  height: 100vh;

  flex-direction: column;
  align-items: center;
  display: flex;

  /* background-color: orange; */
  margin-right: 120px;
  justify-content: space-evenly;
  /* width: fit-content; */
  flex-wrap: nowrap;
  flex-shrink: 0;
}
.screenshots {
  flex-direction: row;
  width: fit-content;
  align-self: flex-end;
  justify-items: flex-end;
  min-width: 750px;
  /* background-color: hsla(0, 100%, 100%, 0.05); */
  box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */ 0px
      0px 2px 1px -1px hsla(0, 0%, 0%, 0.12),
    0px 1px 3px 0px hsla(0, 0%, 0%, 0.2);
  border-radius: 25px;
}
.screenshotAreaMobile {
  /* flex: 1;
  justify-content: center;
  height: 100vh;

  justify-self: flex-end;
  flex-direction: column;*/
  align-items: center;
  /* display: flex; */
  position: absolute;
  bottom: 20%;
}
.screenshotsMobile {
  flex-direction: row;
  /* width: 45vw; */
  align-self: center;
  justify-items: center;
  /* min-width: 800px; */
  /* background-color: red; */
}

.storeIcons {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 550px;
  /* background-color: #e2a747; */
}
.storeIconsMobile {
  justify-self: flex-end;
  /* flex-direction: column; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
  margin: 15px;
  /* margin-bottom: 30px; */

  /* width: 550px; */
}
